@{
	ViewData["Title"] = "Персона";
	Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
	<title>Персона</title>
	<td> </td>
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body bgcolor="#f8f8f8">

	


	<table border="0" width="900" cellpadding="5" cellpadding="0" align="center">

		<td align="center"><p><img src="https://i.ibb.co/LYpB3Dt/image.jpg" width="700" height="600"></p></td>

	</table>

	<table border="0" width="900" cellpadding="30" cellpadding="30" align="center">

		<td>МИССИЯ ПЕРСОНЫ - ТВОРИТЬ КРАСОТУ ЛЮБОВЬЮ.</td>

		<td>Мы созидаем притягательную атмосферу сотворчества и раскрываем в ней таланты и уникальность каждого прикоснувшегося, соединяя красоту его внутреннего мира, и мира в котором мы живём.</td>

		<td>ОТВЕТСТВЕННО. ОСОЗНАННО. ЧУВСТВЕННО.</td>

	</table>




</body>
</html>