@{
    ViewData["Title"] = "Персона";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Персона</title>
	<style>
		
	</style>
	
</head>
<body>
	<table border="0" width="900" cellpadding="5" cellpadding="0" align="center">
		
				<H1 align="center">КРАСОТУ ТВОРИМ ЛЮБОВЬЮ!</H1>
				<!--ров по шир-->
				<style>
					.text-justify {
						
					}
				</style>
				<!--отступ-->
				<style>
					img {
						float: left;
						margin-right: 1em;
					}
				</style>
				<!--ров по шир-->
				<p>
					<img src="https://i.ibb.co/YDTQ01z/1.jpg" align="left"> <BR>
					<body>

						<p class="text-justify">Вам будет к лицу ваш новый цвет! Хотите ли вы только освежить свой образ или вам не дает покоя идея радикального изменения стиля, наши специалисты помогут реализовать самые смелые идеи и современные тренды.От несложного балаяжа, который можно реализовать даже на короткой стрижке, до более сложных техник омбре и шатуш, или с помощью волшебного, хоть и невероятно сложного в исполнении эйр тач, ваш стиль заиграет в новом свете и цвете, созданном руками наших специалистов, владеющих всеми современными техниками. </a><BR>
					</body>
				</p>
				<BR>
				<BR>
				<BR>
				<!--Табл-->
				<table border="3" cellpadding="20" cellspacing="5">

					<tr>
						<td colspan="4" align="center">НАШИ СОБЫТИЯ</td>
					</tr>
					<tr>
						<td colspan="2" align="center">ОТЧЁТЫ С МЕРОПРИЯТИЙ</td>
						<td colspan="2" align="center">СКОРО ОТКРЫТИЕ</td>
					</tr>
					<tr>
						<td align="center">КОНФЕРЕНЦИЯ "МАРАФОН СПИКЕРОВ"</td>
						<td align="center">КОНФЕРЕНЦИЯ "ТРЕНДЫ. БУДУЩЕЕ."</td>
						<td align="center">ДИНАСТИЯ!</td>
						<td align="center">РУБЛЕВКА!</td>
					</tr>
					<tr>
						<td align="center">КОНФЕРЕНЦИЯ "МАРАФОН ИГР"</td>
						<td align="center">КОНФЕРЕНЦИЯ "МАРАФОН ПОДАРКОВ"</td>
						<td align="center">ПРЕСНЯ!</td>
						<td align="center">НА ВОЙКОВСКОЙ!</td>
					</tr>
				</table><!--Табл-->	<BR><!--переход на след стр-->
				<!--списки-->
				Почему стоит доверить профессионалам свою внешность?<BR><BR>


				<ul>
					<li>Опыт</li>
					<li>Лучшие средства</li>
					<li> Профессионализм</li>
				</ul>
				<ol type="a">
					<li>Профессионализм</li>
					<li>Оздоровление</li>
					<li>Красивая стрижка</li>
				</ol>
				<ol type="a">
					<li>Сюрпризы</li>
					<ul>
						<li>Подарки</li>
						<li>Скидки</li>
					</ul>
					<li>Лучшие средства</li>
					<li>Красивая стрижка</li>
				</ol>


	</table>
	<BR>
</body>
</html>

